.navbar {
  background-color: #1e293b;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 1rem 2rem; */
}

.navbar {
  padding: 10px 20px;
}

.search-form {
  display: flex;
  flex: 1;
  max-width: 400px;
  margin: 0 20px;
}

.search-form input {
  flex: 1;
  padding: 6px 10px;
  border-radius: 4px 0 0 4px;
  border: 1px solid #ccc;
}

.search-form button {
  padding: 6px 10px;
  border: none;
  background-color: #f4a261;
  color: #fff;
  cursor: pointer;
  border-radius: 0 4px 4px 0;
}

.search-form button:hover {
  background-color: #e76f51;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 2rem;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
}

.nav-links a:hover {
  color: #38bdf8;
}

.logo {
  font-weight: 700;
  font-size: 1.5rem;
}
